body{
    margin: 0;
}
p{
    font-size: 12px;
}
hr{
    width: 90%;
    height: 1px;

}
#TopFixed{
    position: fixed;
    width: 100%;
    border-bottom:20px;
    background: rgb(64,58,68);
}
#TopFixed img{
    position: absolute;

}
#Form1{
    width: 270px;
    margin: 20px 131px;
}

#Search{
    border-radius: 20px;
    border-color: white;
    width:270px;
    outline: none;
    /*注意下面url中的路径，如果是相对路径，指的是图片相对与此CSS文件的路径，并非相对html
    background:url(../img/search.png) no-repeat right;
    CSS3
    background-size: 15px;*/
}
#BannerDiv{
    position: absolute;
    top: 0;
    right: 0;
    width: 131px;
}
#BannerDiv>ul li{
    display: inline;
    width: 60px;
}
#BannerDiv>ul li a{
    color: white;
    text-decoration: none;
}
#Main{
    width:90%;
    margin: 0 auto;
    padding: 63.04px 20px 20px 20px;
    background:rgb(204,207,203);
}
.MainSubDiv{

}
#Left{
    width: 200px;
    background: white;
    position: absolute;
    font-family: Arial;
    color: rgb(64,58,68);
    text-align: center;
}
#Left>img{
    width: 150px;
    height: 150px;
    margin: 0 25px;
    border-radius: 10px;
}
#Right{
    background: pink;
    margin-right: 200px;
    position: relative;
    left: 200px;
}
